.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.item {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(200,200,200,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
	width: 200px;
	position: relative;
	margin-bottom: 10px;
}

.cat0 { /* yellow */
	background: rgba(255,255,0,0.2);
}

.cat1 { /* red */
	background: rgba(255,0,0,0.2);
}

.cat2 { /* blue */
	background: rgba(0,0,255,0.2);
}

.cat3 { /* green */
	background: rgba(0,255,0,0.2);
}

.item img {
	position: absolute;
    top: 5px;
    right: 5px;
}

.legend {
    line-height: 41px;
    color: #555;
}
.legend i {
    width: 25px;
    height: 41px;
    float: left;
    margin-right: 8px;
}

#category_0, #category_1, #category_2, #category_3, #category_all {
	cursor: hand; 
	cursor: pointer; 
}

ul{
	position: absolute;
	top: 10px;
	right: 40px;
	z-index: 1;
	width: 200px;
	list-style-type: none;
}

li { 
	cursor: hand; 
	cursor: pointer; 
}
